@custom-variant dark (&:where(.dark, .dark *));

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif; 
}

.dp__input {
  background-color: transparent !important;
  border: none !important;
  font-family: var(--font-roboto);
  color: #000; /* light mode text */
}



button{
  cursor: pointer;
}
